@page "/creative-works/artwork"

@using khizooo.AppData;
@using khizooo.Pages.PartialViews;

<PageTitle>Khizooo - Artworks</PageTitle>
<HeadContent>
    <meta name="keywords" content="artworks, creative art, drawing artist, sketch artist, pencil drawing artist, fine art drawings, khizooo">
    <meta name="description" content="Explore khizooo captivating artworks, showcasing creative art through intricate drawings and fine art sketches. Discover the talents of a skilled drawing artist and sketch artist, specializing in pencil drawings and unique artistic expressions.">


    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Explore khizooo captivating artworks, showcasing creative art through intricate drawings and fine art sketches. Discover the talents of a skilled drawing artist and sketch artist, specializing in pencil drawings and unique artistic expressions.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/artwork">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Explore khizooo captivating artworks, showcasing creative art through intricate drawings and fine art sketches. Discover the talents of a skilled drawing artist and sketch artist, specializing in pencil drawings and unique artistic expressions.">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/artwork">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="google-site-verification" content="tPPq9BHgWFlHRRBE_jnKnbh0LlRxe50ArDoWoX8RfNM" />
</HeadContent>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- ARTWORKS -->
        <div class="arlo_tm_section relative" id="Artworks">
            <div class="arlo_tm_portfolio_wrapper_all">

                <div class="arlo_tm_title_holder portfolio">
                    <h3>Artworks</h3>
                    <span>Explore my vibrant and imaginative artworks, which is reflecting my passion for creativity.</span>
                </div>

                <!-- PORTFOLIO FILTER -->
                <div class="arlo_tm_second_portfolio" style="margin-top: 40px; margin-bottom:100px">
                    <div class="container">

                        <div class="polaroid_container_items">

                            @{
                                foreach (Art art in MyAllArts)
                                {

                                    <div class="polaroid @SH.GetRandomNumberWord()">
                                        <div class="polaroid__content">
                                            <div class="polaroid__content-image">
                                                <a href="@((MarkupString)art.URL)" title="@((MarkupString)art.Title)" target="_blank">
                                                    <img src="@art.IMG" alt="@((MarkupString)art.Title)" title="@((MarkupString)art.Title)" loading="lazy" decoding="async" importance="high" crossorigin="anonymous" />
                                                </a>
                                            </div>
                                            <div class="polaroid__content-caption">
                                                <p style="color: #f74542;"> @((MarkupString)art.Title) </p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                        </div>

                    </div>
                </div>
                <!-- /PORTFOLIO FILTER -->

            </div>
        </div>
        <!-- /ARTWORKS -->

    </div>
</div>
<!-- /MAIN CONTENT END -->


@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<Art> MyAllArts = new MyArts().GetMyArts(1000);

}

