@page  "/creative-works/infographic"

@using khizooo.Pages.PartialViews;
@using khizooo.AppData;

<PageTitle>Khizooo - Infographics</PageTitle>
<HeadContent>
    <meta name="keywords" content="infographics, visual design, data visualization, processes, learing, education, khizooo">
    <meta name="description" content="Discover khizooo visually engaging infographics, designed to simplify complex information and make it accessible to everyone.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Discover khizooo visually engaging infographics, designed to simplify complex information and make it accessible to everyone.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/infographic">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Discover khizooo visually engaging infographics, designed to simplify complex information and make it accessible to everyone.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/infographic">

    <meta name="google-site-verification" content="tPPq9BHgWFlHRRBE_jnKnbh0LlRxe50ArDoWoX8RfNM" />
</HeadContent>

<style>
    .subtitle {
        text-align: right;
    }

    .createddate {
        text-align: right;
        margin-top: 15px;
        font-weight: 700;
    }
</style>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- INFPGRAPHIC -->
        <div class="arlo_tm_section relative" id="Infographics">
            <div class="arlo_tm_services_wrap">

                <div class="arlo_tm_title_holder portfolio">
                    <h3 class="lp-infographic">Infographic</h3>
                    <span>Discover my visually engaging infographics, which is designed to simplify complex information.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">
                    <div class="container">
                        <div class="row">
                            <div class="list_wrap_infographic">
                                <ul>
                                    @{
                                        foreach (khizooo.AppData.Infographic infographic in MyAllInfographics)
                                        {
                                            <li>
                                                <a href="@((MarkupString)infographic.URL)" title="@((MarkupString)infographic.Title)" target="_self">
                                                    <div class="inner lp-card lp-infographic-card-border">
                                                        <div class="title_service">
                                                            <h6>@((MarkupString)infographic.Title)</h6>
                                                        </div>
                                                        <p class="subtitle">@((MarkupString)infographic.SubTitle)</p>
                                                        <p class="createddate">@((MarkupString)infographic.CreatedOn)</p>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /INFPGRAPHIC -->

    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<khizooo.AppData.Infographic> MyAllInfographics = new MyInfographics().GetMyInfographics(1000);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //await JSRuntime.InvokeVoidAsync("LoadScripts", "artworks/js/artworks.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }

}