@page "/creative-works/toolbox"
@using khizooo.Pages.PartialViews;
@using khizooo.AppData;

<PageTitle>Khizooo - Toolbox</PageTitle>
<HeadContent>
    <meta name="keywords" content="web tools, resources, web development, productivity tools, khizooo">
    <meta name="description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/toolbox">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/toolbox">

    <meta name="google-site-verification" content="tPPq9BHgWFlHRRBE_jnKnbh0LlRxe50ArDoWoX8RfNM" />
</HeadContent>

<style>
    .subtitle {
        text-align: right;
    }

    .createddate {
        text-align: right;
        margin-top: 15px;
        font-weight: 700;
    }
</style>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- TOOLBOX -->
        <div class="arlo_tm_section relative" id="Toolbox">
            <div class="arlo_tm_services_wrap">

                <div class="arlo_tm_title_holder portfolio">
                    <h3 class="lp-toolbox">Toolbox</h3>
                    <span>Discover the essential web tools and resources, which will surely help your web experience.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">
                    <div class="container">
                        <div class="row">
                            <div class="list_wrap_toolbox">
                                <ul>
                                    @{
                                        foreach (khizooo.AppData.ToolBox toolbox in MyAllToolsBox)
                                        {
                                            <li>
                                                <a href="@((MarkupString)toolbox.URL)" title="@((MarkupString)toolbox.Title)">
                                                    <div class="inner lp-card lp-toolbox-card-border">
                                                        <div class="title_service">
                                                            <h6>@((MarkupString)toolbox.Title)</h6>
                                                        </div>
                                                        <p class="subtitle">@((MarkupString)toolbox.SubTitle)</p>
                                                        <p class="createddate">@((MarkupString)toolbox.CreatedOn)</p>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /TOOLBOX -->
    </div>
</div>
<!-- /MAIN CONTENT END -->



@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<khizooo.AppData.ToolBox> MyAllToolsBox = new MyToolBoxes().GetMyToolBoxes(1000);




}