@page "/creative-works/toolbox"

@using khizooo.AppData.SharedHelper;
@using khizooo.AppData;

<PageTitle>Khizooo - Toolbox</PageTitle>
<HeadContent>
    <meta name="keywords" content="web tools, resources, web development, productivity tools, khizooo">
    <meta name="description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/toolbox">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/toolbox">

    
</HeadContent>

<style>
    .subtitle {
        text-align: right;
        color: var(--toolbox) !important;
        font-weight: 300;
    }

    .createddate {
        text-align: right;
        margin-top: 0px;
        font-weight: 600;
        color: var(--theme_font_color) !important;
    }
</style>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">
        <!-- TOOLBOX -->
        <div class="arlo_tm_section relative" id="Toolbox">
            <div class="arlo_tm_services_wrap">
                <div class="arlo_tm_title_holder portfolio">
                    <h3 class="lp-toolbox">Toolbox</h3>
                    <span>Discover the essential web tools and resources, which will surely help your web experience.</span>
                    <hr class="soften">
                    <div class="container" style="margin-bottom:25px">
                        <div class="row justify-content-end">
                            <div class="col-sm-2">
                                <h5 style="text-align: right;margin-bottom: 10px;color: #f74142;font-size: 14px;">Toolbox Types</h5>
                                <div class="form-group">
                                    <select class="select-creative-work selectpicker form-control" style="border: 2px solid #000000;color: #000000;text-align: end;">
                                        @{
                                            foreach (ToolBoxType toolBoxType in ToolBoxTypes)
                                            {
                                                <option value="@toolBoxType.ID">@toolBoxType.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="list_wrap_toolbox">
                                <ul>
                                    @{
                                        foreach (khizooo.AppData.ToolBox toolbox in MyAllToolsBox)
                                        {
                                            <li data-creative-type="@toolbox.ToolBoxTypeID">
                                                <a href="@((MarkupString)toolbox.URL)" title="@((MarkupString)toolbox.Title)" target="_self">
                                                    <div class="inner lp-card lp-toolbox-card-border">
                                                        <div class="title_service">
                                                            <h6>@((MarkupString)toolbox.Title)</h6>
                                                        </div>
                                                        <p class="subtitle">@((MarkupString)toolbox.SubTitle)</p>
                                                        <p class="createddate">@((MarkupString)toolbox.CreatedOn)</p>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /TOOLBOX -->
    </div>
</div>
<!-- /MAIN CONTENT END -->



@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<AppData.ToolBox> MyAllToolsBox = new MyToolBoxes().GetMyToolBoxes(1000);
    List<ToolBoxType> ToolBoxTypes = new MyToolBoxes().Get_ToolBox_Types();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // await JSRuntime.InvokeVoidAsync("LoadScripts", "artworks/js/artworks.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }


}