@page "/creative-works/writing"

@using khizooo.AppData.SharedHelper;
@using khizooo.AppData;

<PageTitle>Khizooo - Writing</PageTitle>
<HeadContent>
    <meta name="keywords" content="writings, articles, essays, creative writing, khizooo">
    <meta name="description" content="Read KhizoOo's writings where creativity meets insight, covering various topics with a unique perspective.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Read KhizoOo's writings where creativity meets insight, covering various topics with a unique perspective.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/writing">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Read KhizoOo's writings where creativity meets insight, covering various topics with a unique perspective.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/writing">

    
</HeadContent>

<style>
    .subtitle {
        text-align: right;
        color: var(--writing) !important;
        font-weight: 300;
    }
    .createddate {
        text-align: right;
        margin-top: 0px;
        font-weight: 600;
        color: var(--theme_font_color) !important;
    }
</style>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- WRITING -->
        <div class="arlo_tm_section relative" id="Writing">
            <div class="arlo_tm_services_wrap">

                <div class="arlo_tm_title_holder portfolio">
                    <h3 class="lp-writing">Writing</h3>
                    <span>Read my writings where creativity meets insight, covering many topics with unique perspective.</span>
                    <hr class="soften">
                    <div class="container" style="margin-bottom:25px">
                        <div class="row justify-content-end">
                            <div class="col-sm-2">
                                <h5 style="text-align: right; margin-bottom: 10px; color: #f74142; font-size: 14px;">Writing Types</h5>
                                <div class="form-group">
                                    <select class="select-creative-work selectpicker form-control" style="border: 2px solid #000000;color: #000000;text-align: end;">
                                        @{
                                            foreach (WritingType writingType in WritingTypes)
                                            {
                                                <option value="@writingType.ID">@writingType.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="list_wrap_writing">
                                <ul>
                                    @{
                                        foreach (khizooo.AppData.Writing writing in MyAllWritings)
                                        {
                                            <li data-creative-type="@writing.WritingTypeID">
                                                <a href="@((MarkupString)writing.URL)" title="@((MarkupString)writing.Title)" target="_self">
                                                    <div class="inner lp-card lp-writing-card-border">
                                                        <div class="title_service">
                                                            <h6>@((MarkupString)writing.Title)</h6>
                                                        </div>
                                                        <p class="subtitle">@((MarkupString)writing.SubTitle)</p>
                                                        <p class="createddate">@((MarkupString)writing.CreatedOn)</p>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /WRITING -->
    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<AppData.Writing> MyAllWritings = new MyWritings().GetMyWritings(1000);
    List<WritingType> WritingTypes = new MyWritings().Get_Writing_Types();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // await JSRuntime.InvokeVoidAsync("LoadScripts", "artworks/js/artworks.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }

}