@inject NavigationManager Navigation
@using khizooo.AppData;
<!-- LEFT SIDEBAR START -->
<div class="arlo_tm_leftpart_wrap">
    <div class="leftpart_inner">
        <div class="logo_wrap">
            <a href="/">
                <img src="logo/khizooo-logo-100.png" style="width:80px" alt="Khizooo Website Logo" title="Khizooo Website Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous" />
            </a>
        </div>
        <div class="menu_list_wrap">
            <ul class="anchor_nav">
                <li><a href="/creative-works/artwork" title="My Artworks" target="_blank">Artwork</a></li>
                <li><a href="/creative-works/infographic" title="My Infographics" target="_blank">Infographic</a></li>
                <li><a href="/creative-works/toolbox" title="My Toolbox" target="_blank">Toolbox</a></li>
                <li><a href="/creative-works/writing" title="My Writings" target="_blank">Writing</a></li>
                <li><a href="/creative-works/timeline" title="My Timelines" target="_blank">Timeline</a></li>
                <li><a href="/creative-works/codevault" title="My Code Vault" target="_blank">Code Vault</a></li>
                <li><a href="/creative-works/freebie" title="My Freebies" target="_blank">Freebie</a></li>
                <li><a href="/creative-works/synopsis" title="My Synopsis" target="_blank">Synopsis</a></li>
            </ul>
        </div>
        <div class="leftpart_bottom">
            <div class="social_wrap">
                <ul>
                    <!-- SOCIAL -->
                    <li><a href="@Me.Facebook" target="_blank" title="My Facebook Profile"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                    <li><a href="@Me.Twitter" target="_blank" title="My Twitter X Account"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                    <li><a href="@Me.Instagram" target="_blank" title="My Instagram Account"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                    <li><a href="@Me.TikTok" target="_blank" title="My TikTok Account"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>

                    <!-- PROFESSIONAL -->
                    <li><a href="@Me.LinkedIn" target="_blank" title="My LinkedIn Profile"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                </ul>
            </div>
        </div>
        <a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
    </div>
</div>
<!-- LEFT SIDEBAR END -->

@code {

    KhizoOo Me = new KhizoOo();


}

