@using khizooo.AppData;
<!-- LEFT SIDEBAR START -->
<div class="arlo_tm_leftpart_wrap">
    <div class="leftpart_inner">
        <div class="logo_wrap">
            <a href="/">
                <img src="logo/khizooo-logo-100.png" style="width:80px" alt="Khizooo Website Logo" title="Khizooo Website Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous" />
            </a>
        </div>
        <div class="menu_list_wrap">
            <ul class="anchor_nav">
                <li><a href="/CreativeWorks/Artwork" title="Artwork">Artwork</a></li>
                <li><a href="/CreativeWorks/Infographic" title="Infographic">Infographic</a></li>
                <li><a href="/CreativeWorks/Toolbox" title="Toolbox">Toolbox</a></li>
                <li><a href="/CreativeWorks/Writing" title="Writing">Writing</a></li>
                <li><a href="/CreativeWorks/Timeline" title="Timeline">Timeline</a></li>
                <li><a href="/CreativeWorks/CodeVault" title="Code Vault">Code Vault</a></li>
                <li><a href="/CreativeWorks/Freebie" title="Freebie">Freebie</a></li>
                <li><a href="/CreativeWorks/Synopsis" title="Synopsis">Synopsis</a></li>
                <li><a href="https:www.khizooo.com/#contact">Let's Connect</a></li>
            </ul>
        </div>
        <div class="leftpart_bottom">
            <div class="social_wrap">
                <ul>
                    <!-- SOCIAL -->
                    <li><a href="@Me.Facebook"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                    <li><a href="@Me.Twitter"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                    <li><a href="@Me.Instagram"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                    <li><a href="@Me.TikTok"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>

                    <!-- PROFESSIONAL -->
                    <li><a href="@Me.LinkedIn"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                </ul>
            </div>
        </div>
        <a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
    </div>
</div>
<!-- LEFT SIDEBAR END -->


@code {

    KhizoOo Me = new KhizoOo();




}

