@page "/creative-works/infographic/detail/{id:int}/{slug}"

@inject NavigationManager NavigationManager
@using khizooo.AppData;
@using khizooo.Pages.PartialViews;
@using static khizooo.AppData.SharedHelper;

<PageTitle>@MyInfographicDetail.SeoTitle</PageTitle>
<HeadContent>
    <meta name="keywords" content="@MyInfographicDetail.SeoKeyWords">
    <meta name="description" content="@MyInfographicDetail.SeoDescription">

    <meta property="og:title" content="@MyInfographicDetail.SeoTitle">
    <meta property="og:description" content="@MyInfographicDetail.SeoDescription">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/@MyInfographicDetail.URL">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="@MyInfographicDetail.SeoTitle">
    <meta name="twitter:description" content="@MyInfographicDetail.SeoDescription">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/@MyInfographicDetail.URL">

    <meta name="google-site-verification" content="tPPq9BHgWFlHRRBE_jnKnbh0LlRxe50ArDoWoX8RfNM" />

</HeadContent>

<style>
    .term {
        font-size: 14px;
        font-weight: 700;
        color: var(--infographic) !important;
    }
    .answer {
        margin-bottom: 25px;
        font-size: 12px;
        margin-top: 5px;
    }
</style>


<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- INFOGRAPHIC DETAIL -->
        <div class="arlo_tm_portfolio_single_wrap">
            <div class="container">
                <div class="title_holder text-center">
                    <h3 class="lp-infographic">@((MarkupString)MyInfographicDetail.Title)</h3>
                    <p style="margin-bottom: 15px;">@((MarkupString)MyInfographicDetail.PunchLine)</p>
                    <p style="margin-bottom: 25px;"><strong>@((MarkupString)MyInfographicDetail.SubTitle)</strong></p>
                </div>
                <hr class="soften" />

                <div class="details_wrap">

                    <div class="container">

                        <div class="row">
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">

                                @{
                                    foreach (KeyTerm KT in InfographicKeyTerms)
                                    {
                                        <h6 class="term">@KT.Term</h6>
                                        <p class="answer">@KT.Answer</p>
                                    }
                                }
                                
                            </div>
                            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                <div class="images_list">
                                    <ul>
                                        <li>
                                            @if (MyInfographicDetail.IMG != "")
                                            {
                                                <img class="img-fluid w-100 d-block" src="@MyInfographicDetail.IMG" alt="@MyInfographicDetail.Heading" title="@MyInfographicDetail.Heading" loading="lazy" decoding="async" importance="high" crossorigin="anonymous" style=" border: 5px solid #000000;">
                                            }
                                            else
                                            {
                                                <video autoplay="" class="img-fluid w-100 d-block" controls="" controlslist="nodownload" loop="" playsinline="" preload="metadata" style="object-fit: contain; border-radius: initial;"><source data-testid="AssetMedia--video" src="@MyInfographicDetail.VIDEO" type="video/mp4"></video>
                                            }
                                        </li>
                                    </ul>
                                </div>

                                <div class="pagination_wrap">
                                    @{

                                        if (MyPreviousInfographic != null)
                                        {
                                            <a href="@MyPreviousInfographic.URL" target="_self" title="@MyPreviousInfographic.Heading" class="btn btn-sm btn-outline-dark" @onclick="PreviousWork" style="float:left">Previous Work</a>
                                        }

                                        if (MyNextInfographic != null)
                                        {
                                            <a href="@MyNextInfographic.URL" target="_self" title="@MyNextInfographic.Heading" class="btn btn-sm btn-outline-dark" @onclick="NextWork" style="float:right">Next Work</a>
                                        }
                                        else
                                        {
                                            <a href="/CommingSoon" target="_self" title="Comming Soon" class="btn btn-sm btn-outline-dark" disabled>Comming Soon</a>
                                        }

                                    }
                                </div>
                            </div>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-4">

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- /INFOGRAPHIC DETAIL -->
    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    [Parameter]
    public int Id { get; set; } = 0;
    [Parameter]
    public string Slug { get; set; } = "";

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();

    Infographic MyInfographicDetail = new Infographic();
    Infographic MyPreviousInfographic = new Infographic();
    Infographic MyNextInfographic = new Infographic();

    List<KeyTerm> InfographicKeyTerms = new List<KeyTerm>();

    MyInfographics InfographicOBJ = new MyInfographics();

    protected override void OnInitialized()
    {
        long InfographicID = Convert.ToInt64(Id);

        long MyPreviousInfographicID = InfographicID - 1;
        long MyNextInfographicID = InfographicID + 1;

        MyInfographicDetail = InfographicOBJ.GetMyInfographic(InfographicID, Slug);
        InfographicKeyTerms = MyInfographicDetail.KeyTerms.ToList();
        MyPreviousInfographic = InfographicOBJ.GetMyInfographic(MyPreviousInfographicID);
        MyNextInfographic = InfographicOBJ.GetMyInfographic(MyNextInfographicID);

    }

    #region HANDLERS

    private void PreviousWork()
    {
        NavigationManager.NavigateTo(MyPreviousInfographic.URL, true);
    }

    private void NextWork()
    {
        NavigationManager.NavigateTo(MyNextInfographic.URL, true);
    }

    #endregion

}

