@page "/infographic/{slug}"

@inject NavigationManager NavigationManager

@using khizooo.AppData.SharedHelper;
@using khizooo.AppData;

<PageTitle>@MyInfographicDetail.SeoTitle</PageTitle>
<HeadContent>
    <meta name="keywords" content="@MyInfographicDetail.SeoKeyWords">
    <meta name="description" content="@MyInfographicDetail.SeoDescription">

    <meta property="og:title" content="@MyInfographicDetail.SeoTitle">
    <meta property="og:description" content="@MyInfographicDetail.SeoDescription">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/@MyInfographicDetail.URL">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="@MyInfographicDetail.SeoTitle">
    <meta name="twitter:description" content="@MyInfographicDetail.SeoDescription">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/@MyInfographicDetail.URL">

</HeadContent>

<style>

</style>


<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="card pb-5">
                    <div class="card-body pt-5">

                        <div class="row">

                            <div class="col-lg-8 col-md-8 col-sm-12 order-1 order-sm-1">
                                <div class="mb-4 text-center">
                                    <img id="MyArtImage" src="images/info-test.png" data-art-title="Sketch 01" class="img-fluid Art-Detail-Img">
                                </div>

                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 order-2 order-sm-2" style="border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;">

                                <div class="">
                                    <h3 class="card-title" style="color: #577bc1;">Used Key Terms</h3>
                                </div>

                                <div class="mb-5">
                                    <div class="">
                                        @{
                                            foreach (KeyTerm KT in InfographicKeyTerms)
                                            {
                                                <div class="">
                                                    <h5 class="card-title" style="">@KT.Term</h5>
                                                    <p class="">@KT.Answer</p>
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="text-start">
                                        <button class="btn btn-dark btn-lg" onclick="DownloadInfographic()">Download</button>
                                        <div class="btn-group" role="group">
                                            <button id="ArtSocialButton" type="button" class="btn btn-dark btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Social Media
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                                <a class="dropdown-item disabled" href="#">Instagram</a>
                                                <a class="dropdown-item disabled" href="#">Facebook</a>
                                                <a class="dropdown-item disabled" href="#">X</a>
                                                <a class="dropdown-item disabled" href="#">TikTok</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>



                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; } = 0;
    [Parameter]
    public string Slug { get; set; } = "";

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();

    AppData.Infographic MyInfographicDetail = new AppData.Infographic();
    List<KeyTerm> InfographicKeyTerms = new List<KeyTerm>();

    MyInfographics InfographicOBJ = new MyInfographics();

    protected override void OnInitialized()
    {
        long InfographicID = Convert.ToInt64(Id);

        long MyPreviousInfographicID = InfographicID - 1;
        long MyNextInfographicID = InfographicID + 1;

        MyInfographicDetail = InfographicOBJ.GetMyInfographic(Slug);
        InfographicKeyTerms = MyInfographicDetail.KeyTerms.ToList();

    }

    #region HANDLERS

    private void PreviousWork()
    {
       // NavigationManager.NavigateTo(MyPreviousInfographic.URL, true);
    }

    private void NextWork()
    {
        //NavigationManager.NavigateTo(MyNextInfographic.URL, true);
    }

    #endregion

}

