@inject NavigationManager Navigation
@using khizooo.AppData;

<!-- GET IN TOUCH -->
<div class="arlo_tm_section" id="contact" style="">
    <div class="arlo_tm_footer_contact_wrapper_all">

        <div class="arlo_tm_footer_wrap">

            <div class="container">
                <ul style="text-align:center">
                <!-- SOCIAL -->
                <li><a href="@Me.Facebook"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                <li><a href="@Me.Twitter"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                <li><a href="@Me.Instagram"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                <li><a href="@Me.TikTok"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>
                <li><a href="@Me.Snapchat"><i class="fa-brands fa-snapchat fa-xl"></i></a></li>
                <li><a href="@Me.Whatsapp"><i class="fa-brands fa-whatsapp fa-xl"></i></a></li>
                <li><a href="@Me.Pinterest"><i class="fa-brands fa-pinterest fa-xl"></i></a></li>

                <!-- PROFESSIONAL -->
                <li><a href="@Me.LinkedIn"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                <li><a href="@Me.Github"><i class="fa-brands fa-github fa-xl"></i></a></li>
                <li><a href="@Me.Discord"><i class="fa-brands fa-discord fa-xl"></i></a></li>
                <li><a href="@Me.Medium"><i class="fa-brands fa-medium fa-xl"></i></a></li>
                <li><a href="@Me.Codepen"><i class="fa-brands fa-codepen fa-xl"></i></a></li>
                <li><a href="@Me.Skype"><i class="fa-brands fa-skype fa-xl"></i></a></li>
                <li><a href="@Me.Telegram"><i class="fa-brands fa-telegram fa-xl"></i></a></li>
                </ul>

                <p>© Copyright 2019. All Rights are Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- /GET IN TOUCH -->

@code {

    KhizoOo Me = new KhizoOo();


}

