@inject NavigationManager Navigation
@using khizooo.AppData;

<div class="all-social-connections mt-2 mb-2">
    <a href="@((MarkupString)Me.Instagram)" class="btn btn-warning btn-sm btn-social-custom">Instagram</a>
    <a href="@((MarkupString)Me.Facebook)" class="btn btn-warning btn-sm btn-social-custom">Facebook</a>
    <a href="@((MarkupString)Me.Pinterest)" class="btn btn-warning btn-sm btn-social-custom">Pinterest</a>
    <a href="@((MarkupString)Me.TikTok)" class="btn btn-warning btn-sm btn-social-custom">TikTok</a>
    <a href="@((MarkupString)Me.Snapchat)" class="btn btn-warning btn-sm btn-social-custom">Snapchat</a>
    <a href="@((MarkupString)Me.Twitter)" class="btn btn-warning btn-sm btn-social-custom">X</a>
    <a href="@((MarkupString)Me.LinkedIn)" class="btn btn-warning btn-sm btn-social-custom">LinkedIn</a>
    <a href="@((MarkupString)Me.Threads)" class="btn btn-warning btn-sm btn-social-custom">Threads</a>
    <a href="@((MarkupString)Me.Behance)" class="btn btn-warning btn-sm btn-social-custom">Behance</a>
    <a href="@((MarkupString)Me.Reddit)" class="btn btn-warning btn-sm btn-social-custom">Reddit</a>
    <a href="@((MarkupString)Me.DeviantArt)" class="btn btn-warning btn-sm btn-social-custom">DeviantArt</a>
    <a href="@((MarkupString)Me.Whatsapp)" class="btn btn-warning btn-sm btn-social-custom">Whatsapp</a>
    <a href="@((MarkupString)Me.Skype)" class="btn btn-warning btn-sm btn-social-custom">Skype</a>
    <a href="@((MarkupString)Me.YouTube)" class="btn btn-warning btn-sm btn-social-custom">YouTube</a>
    <a href="@((MarkupString)Me.Telegram)" class="btn btn-warning btn-sm btn-social-custom">Telegram</a>
    <a href="@((MarkupString)Me.Github)" class="btn btn-warning btn-sm btn-social-custom">Github</a>
    <a href="@((MarkupString)Me.Discord)" class="btn btn-warning btn-sm btn-social-custom">Discord</a>
    <a href="@((MarkupString)Me.Medium)" class="btn btn-warning btn-sm btn-social-custom">Medium</a>
    <a href="@((MarkupString)Me.Codepen)" class="btn btn-warning btn-sm btn-social-custom">Codepen</a>
</div>

@code {

    KhizoOo Me = new KhizoOo();


}

