@page "/creative-works/artwork/detail/{id:int}/{slug}"
@inject NavigationManager NavigationManager
@using khizooo.AppData;

<PageTitle>Khizooo - Artworks</PageTitle>
<HeadContent>
    <meta name="keywords" content="artworks, creative art, drawing artist, sketch artist, pencil drawing artist, fine art drawings, khizooo">
    <meta name="description" content="Explore khizooo captivating artworks, showcasing creative art through intricate drawings and fine art sketches. Discover the talents of a skilled drawing artist and sketch artist, specializing in pencil drawings and unique artistic expressions.">


    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Explore khizooo captivating artworks, showcasing creative art through intricate drawings and fine art sketches. Discover the talents of a skilled drawing artist and sketch artist, specializing in pencil drawings and unique artistic expressions.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/artwork">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Explore khizooo captivating artworks, showcasing creative art through intricate drawings and fine art sketches. Discover the talents of a skilled drawing artist and sketch artist, specializing in pencil drawings and unique artistic expressions.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="tPPq9BHgWFlHRRBE_jnKnbh0LlRxe50ArDoWoX8RfNM" />
</HeadContent>

<style>
    .Art-Detail-Text{
        margin-bottom:  25px;
    }

</style>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- ARTWORK DETAIL -->
        <div class="arlo_tm_portfolio_single_wrap">
            <div class="container">
                <div class="title_holder">
                    <h3>@((MarkupString)MyArtDetail.Title)</h3>
                    <p style="margin-bottom: 30px;">@((MarkupString)MyArtDetail.SubTitle)</p>
                </div>
                <div class="details_wrap">
                    <div class="leftbox">
                        <div class="short_list">
                            <ul>
                                <li>
                                    <span class="first">ID :</span>
                                    <span class="second">@(MyArtDetail.ID)</span>
                                </li>
                                <li>
                                    <span class="first">SLUG :</span>
                                    <span class="second">@((MarkupString)MyArtDetail.Slug)</span>
                                </li>
                                <li>
                                    <span class="first">TYPE :</span>
                                    <span class="second">@((MarkupString)MyArtDetail.Type)</span>
                                </li>
                                <li>
                                    <span class="first">CATEGORY :</span>
                                    <span class="second">@((MarkupString)MyArtDetail.Category)</span>
                                </li>
                                <li>
                                    <span class="first">TAGS :</span>
                                    <span class="second">@((MarkupString)MyArtDetail.Tags)</span>
                                </li>
                                <li>
                                    <span class="first">CREATION DATE :</span>
                                    <span class="second">@((MarkupString)MyArtDetail.CreatedOn)</span>
                                </li>
                            </ul>
                        </div>

                        <p style="text-align: justify; margin-top: 25px;">@((MarkupString)MyArtDetail.Desription)</p>

                        <div class="art_pagination">
                            @{

                                if (MyPreviousArt != null)
                                {
                                        <a href="@MyPreviousArt.SITE_URL" target="_self" title="@MyPreviousArt.Heading" class="btn btn-sm btn-outline-dark" @onclick="PreviousWork" style="float:left">Previous Work</a>
                                }

                                if (MyNextArt != null)
                                {
                                        <a href="@MyNextArt.SITE_URL" target="_self" title="@MyNextArt.Heading" class="btn btn-sm btn-outline-dark" @onclick="NextWork" style="float:right">Next Work</a>
                                }
                                else
                                {
                                    <a href="/CommingSoon" target="_self" title="Comming Soon" class="btn btn-sm btn-outline-dark" disabled>Comming Soon</a>
                                }

                            }
                        </div>


                    </div>
                    <div class="rightbox">
                        @if (MyArtDetail.IMG != "")
                        {
                            <img class="img-fluid w-100 d-block" src="@MyArtDetail.IMG" alt="@MyArtDetail.Heading" title="@MyArtDetail.Heading" loading="lazy" decoding="async" importance="high" crossorigin="anonymous" style=" border: 5px solid #000000;">
                        }
                        else
                        {
                            <video autoplay="" class="img-fluid w-100 d-block" controls="" controlslist="nodownload" loop="" playsinline="" preload="metadata" style="object-fit: contain; border-radius: initial;"><source data-testid="AssetMedia--video" src="@MyArtDetail.VIDEO" type="video/mp4"></video>
                        }
                        
                    </div>
                </div>                
            </div>
        </div>
        <!-- /ARTWORK DETAIL -->

    </div>
</div>
<!-- /MAIN CONTENT END -->


@code {

    [Parameter]
    public int Id { get; set; } = 0;
    [Parameter]
    public string Slug { get; set; } = "";

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();

    Art MyArtDetail = new Art();
    Art MyPreviousArt = new Art();
    Art MyNextArt = new Art();

    MyArts ArtsOBJ = new MyArts();

    protected override void OnInitialized()
    {
        long ArtID = Convert.ToInt64(Id);

        long MyPreviousArtID = ArtID - 1;
        long MyNextArtID = ArtID + 1;

        MyArtDetail = ArtsOBJ.GetMyArt(ArtID, Slug);
        MyPreviousArt = ArtsOBJ.GetMyArt(MyPreviousArtID);
        MyNextArt = ArtsOBJ.GetMyArt(MyNextArtID);

    }

    #region HANDLERS

    private void PreviousWork()
    {
        NavigationManager.NavigateTo(MyPreviousArt.SITE_URL, true);
    }

    private void NextWork()
    {
        NavigationManager.NavigateTo(MyNextArt.SITE_URL, true);
    }

    #endregion




}

