@page "/"

@inject NavigationManager Navigation
@implements IDisposable

@using khizooo.AppData;

<PageTitle>khizooo.com</PageTitle>
<HeadContent>
    <meta name="keywords" content="artworks, infographics, timelines, writings, toolbox, creative art, Synopsis, code vault, khizooo">
    <meta name="description" content="Explore khizooo artistic world, combining the analytical mind of a programmer with the creative soul of an artist. Discover artworks, infographics, timelines, writings, essential web tools, Synopsis and code vault.">

    <meta property="og:title" content="KhizoOo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Explore KhizoOo's artistic world, where programming meets creativity. Discover artworks, infographics, timelines, writings, essential web tools, Synopsis and code vault.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="KhizoOo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Explore KhizoOo's artistic world, where programming meets creativity. Discover artworks, infographics, timelines, writings, essential web tools, Synopsis and code vault.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="robots" content="index, follow">
</HeadContent>


<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- LANDING PAGE -->
        <div class="arlo_tm_section" id="home">
            <div class="arlo_tm_hero_header_wrap">
                <div class="arlo_tm_universal_box_wrap">
                    <div class="bg_wrap">
                        <div class="overlay_image hero jarallax" data-speed="0.1"></div>
                        <div class="overlay_color hero"></div>
                    </div>
                    <div class="content hero">
                        <div class="inner_content">
                            <div class="image_wrap">
                                <img src="myPics/02.png" alt="Khizooo Picture" />
                            </div>
                            <div class="name_holder">
                                <h3>Khizar <span>Imtiaz</span></h3>
                            </div>
                            <div class="text_typing">
                                <p>I'm a <span class="arlo_tm_animation_text_word"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="arlo_tm_arrow_wrap bounce anchor">
                        <a href="#about"><i class="xcon-angle-double-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /LANDING PAGE -->
        <!-- MYSELF -->
        <div class="arlo_tm_section relative" id="about">
            <div class="arlo_tm_about_wrapper_all">
                <div class="container">
                    <div class="arlo_tm_title_holder">
                        <h3>Myself</h3>
                        <span>Informations about me</span>
                    </div>
                    <div class="arlo_tm_about_wrap">
                        <div class="author_wrap">
                            <div class="leftbox">
                                <div class="about_image_wrap parallax" data-relative-input="true">
                                    <div class="image layer" data-depth="0.1">
                                        <img src="myPics/lp-home-me.png" alt="Khizooo Picture" />
                                        <div class="inner" data-img-url="myPics/lp-home-me.png"></div>
                                    </div>
                                    <div class="border layer" data-depth="0.2">
                                        <img src="myPics/lp-home-me.png" alt="Khizooo Picture" />
                                        <div class="inner" data-img-url="myPics/lp-home-me.png"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="rightbox">
                                <div class="arlo_tm_mini_title_holder">
                                    <h4>I'm Khizar Imtiaz and <span class="arlo_tm_animation_text_word"></span></h4>
                                </div>
                                <div class="definition">
                                    <p>
                                        Hi! My name is <strong>Khizar Imtiaz</strong>.
                                        <br />  <br />
                                        By luck, I am a programmer; by nature, I am an artist.
                                        <br />  <br />
                                        A programmer who loves everything about emerging technologies & an artist who loves to express emotions through artwork.
                                        <br />  <br />
                                        Welcome, You can explore the perfect blend of art and technology at <a href="/" style="font-weight: bold;">khizooo.com</a>. Site contains my beautiful artworks, interesting technology blogs, helpful code snippets, and experience the magic of visual learning through my infographics. In a world brimming with information, i believe in the transformative potential of visual learning. Complex concepts come alive through meticulously crafted infographics that spark curiosity and inspire understanding.
                                        <br />  <br />
                                        Join me on a journey where creativity meets innovation.
                                        <br />  <br />
                                    </p>
                                </div>
                                <div class="about_short_contact_wrap">
                                    <ul>
                                        <li>
                                            <span><label>Birthday:</label> @Me.Birthdate</span>
                                        </li>
                                        <li>
                                            <span><label>Age:</label> @Me.Age</span>
                                        </li>
                                        <li>
                                            <span><label>Hair Color:</label> @Me.HairColor</span>
                                        </li>
                                        <li>
                                            <span><label>Eye Color:</label> @Me.EyeColor</span>
                                        </li>
                                        <li>
                                            <span><label>Height:</label> @Me.HeightInFoot</span>
                                        </li>
                                        <li>
                                            <span><label>Weight:</label> @Me.WeightInKg</span>
                                        </li>
                                        <li>
                                            <span><label>City:</label>@Me.CurrentCity</span>
                                        </li>
                                        <li>
                                            <span><label>NickName:</label> @Me.NickName</span>
                                        </li>
                                        <li>
                                            <span><label>Occupation:</label> @Me.Occupation</span>
                                        </li>
                                        <li>
                                            <span><label>Religious Belief:</label> @Me.ReligiousBeliefs</span>
                                        </li>
                                        <li>
                                            <span><label>Political Views:</label> @Me.PoliticalViews</span>
                                        </li>
                                        <li>
                                            <span><label>Website:</label> <a href="www.khizooo.com">www.khizooo.com</a></span>
                                        </li>
                                        <li>
                                            <span><label>Email:</label> <a href="mailto:khizar.imtiaz@gmail.com">khizar.imtiaz&#64;gmail.com</a></span>
                                        </li>
                                        <li>
                                            <span><label>Phone:</label> <a href="@Me.Whatsapp">@Me.PhoneNumberOne</a></span>
                                        </li>
                                        <li>
                                            <span><label>Languages:</label> @Me.LanguagesSpoken</span>
                                        </li>
                                        <li>
                                            <span><label>Twitter:</label> <a href="@Me.Twitter">@Me.Twitter</a></span>
                                        </li>
                                        <li style="width: 100%;">
                                            <span><label>Hobbies:</label> @Me.Hobbies</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="buttons_wrap">
                                    <ul>
                                        <li>
                                            <a href="@Me.LinkedIn"><span>LinkedIn</span></a>
                                        </li>
                                        <li class="anchor">
                                            <a href="@Me.OpenSea"><span>OpenSea</span></a>
                                        </li>
                                        <li class="anchor">
                                            <a href="@Me.Agora"><span>Agora</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /MYSELF -->
        <!-- CREATIVE WORKS -->
        <div class="arlo_tm_section" id="services">
            <div class="arlo_tm_services_wrap">
                <div class="container">
                    <div class="arlo_tm_title_holder">
                        <h3>My Creative Works</h3>
                        <span>Check out my latest creative works</span>
                    </div>
                    <div class="list_wrap">
                        <ul>
                            <li>
                                <a href="/Artwork" title="Artwork">
                                    <div class="inner lp-card lp-artfulness-card">
                                        <div class="title_service">
                                            <h3>
                                                ARTFULESS
                                            </h3>
                                        </div>
                                        <div class="text">
                                            <p>Explore my vibrant and imaginative artworks, which is reflecting my passion for creativity.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Infographic" title="Infographic">
                                    <div class="inner lp-card lp-infographic-card">
                                        <div class="title_service">
                                            <h3>
                                                INFOGRAPHICS
                                            </h3>
                                        </div>
                                        <div class="text">
                                            <p>Discover my visually engaging infographics, which is designed to simplify complex information.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Toolbox" title="Toolbox">
                                    <div class="inner lp-card lp-toolbox-card">
                                        <div class="title_service">
                                            <h3>
                                                TOOLBOX
                                            </h3>
                                        </div>
                                        <div class="text">
                                            <p>Discover the essential web tools and resources, which will surely help your web experience.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Writing" title="Writing">
                                    <div class="inner lp-card lp-writing-card">
                                        <div class="title_service">
                                            <h3>
                                                WRITINGS
                                            </h3>
                                        </div>
                                        <div class="text">
                                            <p>Read my writings where creativity meets insight, covering many topics with unique perspective.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Timeline" title="Timeline">
                                    <div class="inner lp-card lp-timeline-card">
                                        <div class="title_service">
                                            <h3>
                                                TIMELINE
                                            </h3>
                                        </div>
                                        <div class="text">
                                            <p>Explore my detailed timelines, which is showcasing key events and milestones creatively.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/CodeVault" title="Code Vault">
                                    <div class="inner lp-card lp-codevault-card">
                                        <div class="title_service">
                                            <h3>Code Vault</h3>
                                        </div>
                                        <div class="text">
                                            <p>Filled with useful code snippets & resources. Improve your coding projects with practical and curated tools.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Freebie" title="Freebie">
                                    <div class="inner lp-card lp-freebie-card">
                                        <div class="title_service">
                                            <h3>Freebie</h3>
                                        </div>
                                        <div class="text">
                                            <p>New freebies for developers. Enjoy free tools and resources provided by me to support your development projects.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Synopsis" title="Synopsis">
                                    <div class="inner lp-card lp-synopsis-card">
                                        <div class="title_service">
                                            <h3>Synopsis</h3>
                                        </div>
                                        <div class="text">
                                            <p>Concise and clear synopses of various topics. Understand complex subjects quickly with easy-to-read overviews.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /CREATIVE WORKS -->
        <!-- GET IN TOUCH -->
        <div class="arlo_tm_section" id="contact">
            <div class="arlo_tm_footer_contact_wrapper_all">
                <div class="arlo_tm_footer_contact_wrapper_all">
                    <div class="arlo_tm_contact_wrap_all">
                        <div class="container">
                            <div class="leftbox">
                                <div class="arlo_tm_mini_title_holder contact"><h4>Get in Touch</h4></div>
                                <div class="short_info_wrap">
                                    <ul>
                                        <li><p><label>Address:</label><span>@Me.AddressTwo</span></p></li>
                                        <li><p><label>Email:</label><span><a href="mailto:@Me.Email">@Me.Email</a></span></p></li>
                                        <li><p><label>Phone:</label><span>@Me.PhoneNumberOne</span></p></li>
                                        <li><p><label>Website:</label><span><a href="@Me.Website">@Me.Website</a></span></p></li>
                                    </ul>
                                </div>
                                <div class="social_wrap lp-social_wrap" style="margin-top: 50px;">
                                    <ul style="text-align:center">
                                        <!-- SOCIAL -->
                                        <li><a href="@Me.Facebook"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                                        <li><a href="@Me.Twitter"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                                        <li><a href="@Me.Instagram"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                                        <li><a href="@Me.TikTok"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>
                                        <li><a href="@Me.Snapchat"><i class="fa-brands fa-snapchat fa-xl"></i></a></li>
                                        <li><a href="@Me.Whatsapp"><i class="fa-brands fa-whatsapp fa-xl"></i></a></li>
                                        <li><a href="@Me.Pinterest"><i class="fa-brands fa-pinterest fa-xl"></i></a></li>

                                        <!-- PROFESSIONAL -->
                                        <li><a href="@Me.LinkedIn"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                                        <li><a href="@Me.Github"><i class="fa-brands fa-github fa-xl"></i></a></li>
                                        <li><a href="@Me.Discord"><i class="fa-brands fa-discord fa-xl"></i></a></li>
                                        <li><a href="@Me.Medium"><i class="fa-brands fa-medium fa-xl"></i></a></li>
                                        <li><a href="@Me.Codepen"><i class="fa-brands fa-codepen fa-xl"></i></a></li>
                                        <li><a href="@Me.Skype"><i class="fa-brands fa-skype fa-xl"></i></a></li>
                                        <li><a href="@Me.Telegram"><i class="fa-brands fa-telegram fa-xl"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="arlo_tm_footer_wrap"><div class="container"><p>© Copyright 2019. All Rights are Reserved.</p></div></div>
            </div>
        </div>
        <!-- /GET IN TOUCH -->

    </div>
</div>
<!-- /MAIN CONTENT END -->


@code {

    KhizoOo Me = new KhizoOo();


    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }

}